:root {
    font-size: 62,5%;
    --custom-color-dimGrey: dimGrey;
    --custom-color-black: black;
    --custom-color-black-back: #1E1E1E;
    --custom-color-black-form: #303030;
    --custom-color-yellow: yellow;
    --custom-color-white: white;
    --custom-color-pink: pink;
}

body {
    font-family: 'Gabarito', sans-serif;
    background-color: var(--custom-color-black-back);
    color: var(--custom-color-white);
    font-weight: 700px;
}

h1 {
    color: var(--custom-color-pink);
}

h2 {
    color: var(--custom-color-pink);
}

h3 {
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: normal;
    color: var(--custom-color-dimGrey);
    margin-left: auto;
    margin-right: auto;
}

p .Global-heading-bold {
    font-weight: bold;
}

.Global-images-mid {
    text-align: center;
}

.Global-videos-mid {
    margin: 0 auto;
}

.Global-circle-button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

ul.List-with-button {
    list-style: none;
}

ul.List-with-button li {
    display: inline-block;
}

#PrSec-1 {
    font-size: 4rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--custom-color-white);
}

#PrSec-2 {
    font-size: 1.5rem;
    font-weight: 400px;
    text-align: right;
    color: var(--custom-color-white);
}

#Footer-text {
    font-size: 4.5rem;
    color: var(--custom-color-white);
    text-align: left;
    margin: 0;
}

.CatSec {
    font-size: 1.4rem;
}

#InfSec-heading {
    font-size:5rem;
    color: var(--custom-color-black);
    text-shadow:
    1px 0 1px var(--custom-color-yellow), 
    0 1px 1px var(--custom-color-yellow), 
    -1px 0 1px var(--custom-color-yellow), 
    0 -1px 1px var(--custom-color-yellow);
    text-align: center;
}