:root {
    font-size: 62,5%;
    --custom-color: dimGrey;
}

.body {
    font-family: 'Gabarito', sans-serif;
    background-color: black;
    color: white;
    font-weight: 700px;
}

.Global-heading {
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.Global-text {
    font-size: 1.6rem;
    font-weight: 400px;
    color: var(--custom-color);
    margin-left: auto;
    margin-right: auto;
}

.Global-circle-button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

#PrSec-1 {
    font-size: 4rem;
    margin-left: auto;
    margin-right: auto;
}

#PrSec-2 {
    font-size: 1.5rem;
    font-weight: 400px;
    text-align: right;
}

.CatSec {
    font-size: 1.4rem;
}

#InfSec-heading {
    font-size:3rem;
    color: black;
    text-shadow:
    1px 0 1px yellow, 
    0 1px 1px yellow, 
    -1px 0 1px yellow, 
    0 -1px 1px yellow;
    text-align: center;
}

