:root {
    --custom-color-dimGrey: dimGrey;
    --custom-color-black: black;
    --custom-color-black-sections: #1E1E1E;
    --custom-color-black-form: #303030;
    --custom-color-black-back: #393939;
    --custom-color-yellow: yellow;
    --custom-color-white: white;
    --custom-color-pink: pink;
}

html {
  font-size: 62.5%;
    box-sizing: border-box;
    width: 39rem;
    margin: 0rem auto;
  }

header {
    box-sizing: inherit;
    background-color: var(--custom-color-black-sections);
    padding: 1.5rem;
    margin-bottom: 0rem;
}

section {
    box-sizing: inherit;
    background-color: var(--custom-color-black-sections);
    padding: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

footer {
    box-sizing: inherit;
    background-color: var(--custom-color-black);
    padding: 1.5rem;
    margin-top: 0rem;
}

body {
    font-family: 'Gabarito', sans-serif;
    background-color: var(--custom-color-black-back);
    color: var(--custom-color-white);
    font-weight: 700px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: var(--custom-color-pink);
}

h2 {
    color: var(--custom-color-pink);
}

h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

form {
    background-color: var(--custom-color-black-form);
    padding: 0rem 1rem 2rem;
    text-transform: uppercase;
}

p {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: normal;
    color: var(--custom-color-dimGrey);
}

div {
    vertical-align: top;
}

.Global-heading {
    color: var(--custom-color-white);
    text-transform: uppercase;
}

p .Global-heading-bold {
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem;
}

.Global-images-mid {
    text-align: center;
    height: 40.9rem;
    width: 36rem;
}

.Global-videos-mid {
    margin: 0 auto;
    height: 20.2rem;
    width: 36rem;
}

.Global-circle-button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

ul.List-with-button {
    list-style: none;
}

ul.List-with-button li {
    display: inline-block;
}

#PrSec-1 {
    font-size: 4rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--custom-color-white);
}

#PrSec-2 {
    font-size: 1.5rem;
    font-weight: 400px;
    text-align: right;
    color: var(--custom-color-white);
}

#Footer-text {
    font-size: 4rem;
    color: var(--custom-color-white);
    text-align: left;
    margin: 0;
}

.CatSec {
    font-size: 1.4rem;
}

#InfSec-heading {
    font-size:5rem;
    color: var(--custom-color-black);
    text-shadow:
    1px 0 1px var(--custom-color-yellow), 
    0 1px 1px var(--custom-color-yellow), 
    -1px 0 1px var(--custom-color-yellow), 
    0 -1px 1px var(--custom-color-yellow);
    text-align: center;
    margin: 0rem;
}

.items_2 {
    display: flex;
    justify-content: space-between;
}

.items_3 {
    display: flex;
    justify-content: space-between;
}

.logo_footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .wrapper {
    max-width: 3000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .container {
    display: grid;
    grid-template-columns: 1.5fr repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: stretch;
    justify-items: stretch;
  }

  .SideBar {
    display: flex;
    background-color: var(--custom-color-black-form);
    grid-column: 1 / 2;
    grid-row: 1 / span 3;

    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 3rem;
  }

  .chart-header {
    grid-column: 2 / span 6;
    grid-row: 1 / 2;
  }

  .chart-body_1 {
    grid-column: 2 / span 2;
    grid-row: 2 / 3;
  }

  .chart-body_2 {
    grid-column: 4 / span 2;
    grid-row: 2 / 3;
  }

  .chart-body_3 {
    grid-column: 6 / span 2;
    grid-row: 2 / 3;
  }

  .chart-footer_1 {
    grid-column: 2 / span 3;
    grid-row: 3 / 4;
  }

  .chart-footer_2 {
    grid-column: 5 / span 3;
    grid-row: 3 / 4;
  }

  .RAM_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    justify-content: stretch;
    justify-items: stretch;
    grid-gap: 1rem;
    margin-inline: 1rem;
  }

  .RAM_gallery_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: stretch;
    justify-items: center;
  }

  .RAM_button {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    z-index: 1;
  }

  .link_like_button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
  }

  .RAM_image {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    overflow: hidden;
  }

  #Button_img {
    width: 2rem;
    background-color: var (--custom-color-black-sections);
  }

  #logo_img {
    width: 13.7rem;
  }

  #post_box {
    width: 3rem;
  }

  #text_head_1 {
    position: absolute; top: 22rem; width: 33rem; text-transform: uppercase; margin: auto 1rem;
  }

  #text_head_2 {
    position: absolute; top: 42rem; width: 14rem; text-transform: uppercase; margin: auto 1rem auto 20rem;
  }

  #script_head {
    position: absolute; top: 46rem; left: 0 rem;
  }

  .CatSecImg {
    width: 17.4rem; height: 18.5rem;
  }

  #CatSecMicro {
    height: 18.5rem; width: 36rem; margin-bottom: 1rem;
  }

  #ImgLearnMore {
    height: 4.4rem; width: 36rem;
  }

  .ImgLogo {
    width: 15rem;
  }

  .ImgLogoFooter {
    width: 2.7rem;
  }

  #AllRights {
    font-size: 1.4rem; margin: 0;
  }

  @media screen and (max-width: 2560px) {
    html {
      width: 230rem;
    }
  }

  @media screen and (max-width: 2300px) {
    html {
      width: 190rem;
    }
  }

  @media screen and (max-width: 1990px) {
    html {
      width: 160rem;
    }
  }

  @media screen and (max-width: 1660px) {
    html {
      width: 140rem;
    }
  }

  @media screen and (max-width: 1440px) {
    html {
      width: 120rem;
    }
  }

  @media screen and (max-width: 1200px) {
    html {
      width: 70rem;
    }
      #Button_img {
      width: 4rem;
    }

    #logo_img {
      width: 20rem;
    }

    #post_box {
      width: 8rem;
    }

    #text_head_1 {
      top: 15rem; width: 70rem; margin: auto 1rem; font-size: 10px;
    }

    #text_head_2 {
      top: 55rem; width: 34rem; margin: auto 1rem auto 28rem;
    }

    #PrSec-1 {
      font-size: 6rem;
    }

    #PrSec-2 {
      font-size: 3rem;
      font-weight: 400px;
    }

    .Global-images-mid {
      height: 60rem;
      width: 65rem;
    }
    
    #script_head {
      top: 65rem; left: 0 rem;
    }

    .CatSecImg {
    width: 32rem; height: 30rem;
    }

    p {
    font-size: 3rem;
    }
    
    #CatSecMicro {
      height: 30rem; width: 65rem; margin-bottom: 1rem;
    }

    #InfSec-heading {
      font-size: 8rem;
    }

    .Global-videos-mid {
      height: 40rem;
      width: 65rem;
    }

    h3 {
      font-size: 5rem;
    }
    
    #ImgLearnMore {
      height: 8rem; width: 65rem;
    }

    .ImgLogo {
      width: 30rem;
    }

    .ImgLogoFooter {
      width: 5rem;
    }

    #AllRights {
      font-size: 3rem;
    }

    #Footer-text {
      font-size: 6rem;
    }
  }

  @media screen and (max-width: 768px) {
    html {
      width: 40rem;
    }
  }

  @media screen and (max-width: 390px) and (orientation: portrait) {
    html {
      width: 30rem;
    }
  }